.animate {
  animation: incrementNumber 0.5s linear forwards;
}

@keyframes incrementNumber {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-number {
  animation: incrementNumber2 1.5s linear forwards;
}

@keyframes incrementNumber2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.digit {
  font-size: 28px;
  font-weight: bold;
}

.avatar > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 2%;
}

.avatar {
  transform: translateZ(0);
  margin-bottom: 100px;
  box-shadow: 
    2px 2px 3px #ff0411,
    -2px -2px 2px #3654ff,
    2px -2px 1px #e5ff00,
    -2px -2px 1px #e4ff48;
  animation: rotateThis 3s linear infinite;
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
