.modal-panel {
    animation: modal-animation;
    animation-duration: 1s;
  }
  
  @keyframes modal-animation {
    0% {
        top: -20px;
        opacity: 0;
        scale: 0;
    }
    100% {
        top: 0;
        opacity: 1;
        scale: 1;
    }
  }
  