@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); /* Adjust the path if necessary */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype"); /* Adjust the path if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #5f2e2e, #0d418f);
}

code {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  color: #dedede;
  margin: 60px auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 96px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e4af5a4;
  border-radius: 10px;
  transition: .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #f35e08, #0404ff);
}
